/*
filename: style.css, webweavers
authors: Nathan Rancie, Riley Parry, Aniket Moharana, Sam Nguyen
created: 20/08/2024
last modified: 3/09/2024
description: css file for our website
*/

*{margin:0%}

/* basic setting for main content -Nathan Rancie*/
body {font-family: "DM Serif Text", serif;
      font-weight: 400;
      font-style: normal;
      color: #050505; }





/* apply pages background colour change -Nathan Rancie*/
#apply_body{background: linear-gradient(to bottom, #050404, rgb(96, 211, 249)) !important}






/* apply pages main body of content -Nathan Rancie*/
#main {background-color: #a9a8a8; 
      padding: 20px; 
      margin: 0% 5%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;}



/* apply pages fieldsets -Nathan Rancie*/
fieldset {background: #fff; 
          border: 2px solid #ccc; 
          margin-bottom: 10px; 
          padding: 15px; 
          border-radius: 1em; 
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)}





/*layout for footer -Nathan Rancie*/
footer nav { 
      margin-top: 3%;
      text-align: center;
      float: center;
      align-items: center;
}

footer {display: flex; 
      background-color:black;
      color:white;
      border-top: 4px double #66e9fe;
      clear: both;
      justify-content: center;

}

footer img {width:33%;
            float: left;}

footer p {
    display: inline-block;
    width: 33%;
}





/* apply and reset buttons on apply page -Nathan Rancie */
#buttons {display:flex;
          justify-content: center;
}
#buttons input{ margin: 1%;}

#buttons input:hover{border-color: silver;
                     background-color:#66e9fe;}




/* adjusting layout of gender options on apply page -Nathan Rancie */
#gender_field{ display:flex; 
               justify-content: center;}

.gender_options{margin:0% 10% 0% 5%;}



/* legends for each fielset adjustments -Nathan Rancie */
legend {background-color: white;
        border-radius: 5px;}
    
     






  /* CSS for index page */


header {position:relative !important;
      display:block !important;
      max-width:100% !important;
      min-height: 50% !important;
      height: 7vh !important;
      margin: auto !important;
      padding:1% 1% !important;
      /* background:#292828; */
      background: black !important;
      color:#d9d9d9 !important;
}

header h1 {
      line-height: 45px !important;
      font-style: normal !important;
      font-size:2.5em !important;
      margin: 0 !important;
      position: relative !important;
      display:inline !important;
      border-bottom: 2px solid #d9d9d9 !important;
      padding-right: 30% !important;
      
      /* badding-top: */
}
nav {
      line-height: 45px !important;
      padding-left: 0% !important;
      padding-right: 0% !important;
      padding-top: 0px !important;
      padding-bottom: 50px !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      list-style: none !important;
      /* float:right; */
      display:inline !important;
      color:white !important;

}

nav a {
      color:#d9d9d9 !important;
      text-decoration: none !important;
      padding: 5px;
      border-bottom: 2px solid #d9d9d9 !important;
      padding-right: 3% !important;
      /* padding-right: 50px; */
      white-space: nowrap !important;
      text-align: center !important;
}

nav a:hover {
      font-style: underline !important;
      color: white !important;
      border-bottom: 2px solid white !important;
}

.hero-section .img{
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.hero-section{
      position: relative;
}

.hero-section .hero-msg{
      position: absolute;
      font-size: 170%;
      top: 42%;
      left: 72%;
      transform: translate(-50%, -50%);
      color: #d9d9d9;
      padding-bottom: 150px;
}

.hero-section .hero-sub-msg{
      position: absolute;
      text-align: center;
      top: 52%;
      left: 72%;
      transform: translate(-50%, -50%);
      color: #d9d9d9;
      padding-bottom: 150px;
}

.hero-section .hero-btn{
      position: absolute;
      top: 50%;
      left: 72%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transition-duration: 0.4s;
      color: white;
      border: 1px solid white;
      font-size: 16px;
      padding: 16px 30px;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      background-repeat: no-repeat;
}

/* Not working as of yet */
.button:hover {
      background-color: white;
      color: black;
}

.info{
      background-color: #d9d9d9;
      height: 100%;
}
.container_index {  display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 1.4fr 1.3fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
      "Our-Work Our-Work Our-Work Our-Work"
      "Info Info Info Info"
      "Value-1 Value-2 Value-3 Value-4";
      }
      
      .Our-Work { grid-area: Our-Work; }
      
      .Info { grid-area: Info; }
      
      .Value-4 { grid-area: Value-4; }
      
      .Value-1 { grid-area: Value-1; }
      
      .Value-2 { grid-area: Value-2; }
      
      .Value-3 { grid-area: Value-3; }

      .Our-Work{
            margin-top: none;
            background-color: #66e9fe;
            font-style: bold;
            padding: 1rem;
            text-align: center;
            color: black;
      }
      .Info{
            background-color: #d9d9d9;
            padding: 1rem;
            text-align: justify;
            color: black;
      }
      .Value-1{
            background-color: red;
            padding: 1rem;
            text-align: center;
            color: black;

      }

footer{
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      /* display: inline; */
      padding: 1rem;
}


/*Css for about page */




#about_body {
      padding: 20px;

      background-color: #f4f4f4;
      line-height: 2; /* more readable text by spacing */
  }
  
  /* Header styles */
  header {
      color: #fff;
      /*padding: 10px 0;*/
      text-align: center;
  }
  
  /* Main container styles */
  .container_about {
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Definition list styles */
  dl {
      display: flex; /* allow item in def list to be layout in a row */
      flex-wrap: wrap;
      justify-content: space-between; /*pushing dt to left and dd to right by add space between them */
      margin-bottom: 20px;
  }
  
  dt {
      font-weight: bold;
      width: 30%;  
  }
  
  dd {
      width: 65%;  
      margin: 0 0 10px 0;
  }
  
  /* Table styles */
  table {
      width: 80%;  /* center table by adding width */
      margin: 20px auto;
      border-collapse: collapse; /* making border appear in a single line */
      text-align: left;
  }
  
  th, td {
      padding: 10px;
      border: 1px solid #ddd;
      background-color: #f4f4f4;  
  }
  
  
  /* image styles */
  figure {
      float: right;  /* Float figure to the right */
      margin: 0 0 10px 20px;
      text-align: center;
  } 
  
  figure img{
      max-width: 100%;
      height: auto;
      border: 2px solid #333;  /*image border */
  }
  
  /* Mailto link styling */
  p a {
      color: #333;
      text-decoration: none;
      border-bottom: 2px solid #333;  /*bottom border for mail link*/
  }
  
  
